body {
    margin: 0;
    background-color: #FFFFFF;
    font-family:Roboto Condensed;
}

#title {
    text-align: center;
}

#game_canvas {
    width: 960px;
    height: 600px;
    display: block;
    margin: 0 auto;
}